@import "tailwindcss";

/* CSS Reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif; /* You can change this to your preferred font */
  line-height: 1.5;
  interpolate-size: allow-keywords;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

img {
  max-width: 100%;
  display: block;
}

button,
input,
select,
textarea {
  background: none;
  border: none;
  font-family: inherit;
  font: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}
